.toc {
  position: fixed;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  width: 200px;
  padding: 5px;

  border-left: 2px solid;

  font-size: 0.8rem;
  font-weight: 500;
  opacity: 0.625;

  ul {
    margin-left: 10px;
    margin-bottom: 0;
    list-style: none;
    padding: 0;
  }

  a {
    text-overflow: ellipsis;
    &:hover {
      text-decoration: wavy underline;
    }
  }

  @media screen and (max-width: 1280px) {
    display: none;
  }
}
