.toc {
  position: fixed;
  top: 90px;
  right: 60px;
  font-size: 0.9rem;
  font-weight: 500;

  ul {
    margin-left: 10px;
    margin-bottom: 0;
    list-style: none;
    padding: 0;
  }

  a {
    &:hover {
      text-decoration: wavy underline;
    }
  }

  @media screen and (max-width: 1400px) {
    display: none;
  }
}
